.scrolling_container {
    
    height: 70vh;
    margin: 0 auto;
    position: relative;
}

.todos_list {
    padding-inline-start: 0;
    background-color: #eee;
    overflow-y: auto;
    height: 70vh;
}

.upper_excess_bar {
    position: absolute;
    top: 0px;
    display: none;
    text-align: center;
    width: 100%;
    transition: 0.3s;
}

.lower_excess_bar {
    position: absolute;
    bottom: 0px;
    display: none;
    text-align: center;
    width: 100%;
    transition: 0.3s;
}






  