.scrolling_container {
    
    height: 500px;
    margin: 0 auto;
    position: relative;
}

.todos_list {
    padding-inline-start: 0;
    background-color: #eee;
    overflow-y: auto;
    height: 70vh;
}

.upper_excess_bar {
    position: absolute;
    top: 0px;
    display: none;
    text-align: center;
    width: 100%;
    transition: 0.3s;
}

.lower_excess_bar {
    position: absolute;
    bottom: 0px;
    display: none;
    text-align: center;
    width: 100%;
    transition: 0.3s;
}

.todo_li_item {
    background-color: #04AA6D;
    padding: 15px;
    width: 50%;
    font-size: 14px;
    color: white;
    border-radius: 0 5px 5px 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    transition: 0.3s;
}




  