.main_content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

}

.children {
    width: 80%;
    margin: 0px auto;
    margin-top: 73px;
}


.fixed_nav_div {
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 10;
    margin: 0px auto;
    width: 100%;
    max-width: 800px;
}

.navigation_div {
    background-color: #333;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin: 0px auto;
    position: relative;
}

.navigation_div_responsive {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.navigation_div_responsive .icon{
    position: absolute;
    top: 0;
    right: 0;
}

.navigation_div_responsive .search_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    border: 1px solid #333;
    font-size: 17px;
}

.navigation_div_responsive .search_container form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.navigation_div_responsive input[type="text"] {
    padding: 6px;
    font-size: 17px;
    border: none;
    width: 80%;
}

.navigation_div_responsive .search_container .search_button {
    padding: 6px 10px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    width: fit-content;
}

.nav_button {
    flex-direction: flex-start;
    color: #f2f2f2;
    font-size: 17px;
    background-color: #333;
    padding: 14px 16px;
    
}

.nav_button:hover {
    background-color: #ddd;
    color: black;
    border-bottom: 3px solid red;
}

.active_button {
    background-color: #04AA6D;
    color: white;
    font-size: 17px;
    padding: 14px 16px;
    border-bottom: 3px solid red;
}

.navigation_div .icon {
    display: none;
}

.navigation_div .search_container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.navigation_div .search_container form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 95%;
}

.navigation_div input[type="text"] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 80%;
}

.navigation_div .search_container .search_button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    width: fit-content;
}

@media screen and (max-width: 600px) {
    .navigation_div button:not(:first-child) {
        display: none;
    }

    .navigation_div .search_container {
        width: 50%;
        float: right;
        display: block;
        margin-left: auto;
        margin-right: 10%;
    }

    .navigation_div .search_container .search_button { 
        display: initial;
    }


    .navigation_div button.icon {
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: block;
    }

    .navigation_div_responsive {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .nav_button {
        text-align: left;

    }

    .active_button {
        text-align: left;
    }

    .navigation_div_responsive .search_container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #333;
        border: 1px solid #333;
        font-size: 17px;
        
    }

    .navigation_div_responsive .search_container form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .navigation_div_responsive input[type="text"] {
        padding: 6px;
        font-size: 17px;
        border: none;
        width: 80%;
    }
    
    .navigation_div_responsive .search_container .search_button {
        padding: 6px 10px;
        margin-right: 16px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
        width: fit-content;
    }

    .navigation_div_responsive .icon {
        position: absolute;
        right: 1rem;
        top: 1rem;
    }

    
}

@media screen and (max-width: 450px) {
    .children {
        width: 100%;
        margin: 0px auto;
        margin-top: 73px;
    }
    
    
    .navigation_div {
        background-color: #333;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin: 0px auto;
        position: relative;
    }
}
