.users_view {
    position: relative;
    margin: 0 auto;
    max-width: 800px;
    height: 100%;
    width: 80%;
}

.users_list {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: lightblue;
    overflow-x: hidden;
}

.users_list_right_sided {
    height: 100%;
    width: 40%;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: lightblue;
    overflow-x: hidden;
}

.users_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
  }
  
  .userslist_article {
    width: 100%;
    font-size: 17px;
  }

  .userslist_article:hover {
    color: #f1f1f1;
  }
  
  .userslist_article span {
    float: left;
  }
  
  .userslist_article a {
    float: right;
  }
  
  .users_container.disabled {
    opacity: 0.5;
  }

  .add_user_button {
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    color: #fff;
    background-color: #616161;
    padding: 8px 16px;
    margin-bottom: 16px;
  }

  
  
  
  