.apendix_div {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    background-color: #f0f0f0;

}

.user_div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user_select {
    width: fit-content;
}

.posts {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 1rem;
    background-color: white;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.post p {
    text-align: left;
}

.posts_header_container{
    width: 125%;
    margin-bottom: 3vh;
    padding-top: 3vh;
}

.sticky_posts_header_container {
    width: 100%;
    max-width: 800px;
    position: fixed;
    top: 10vh;
    margin-bottom: 3vh;
}

.posts_header {
    width: 80%;
    background-color: #ddd;
    margin: 0 auto;
}