
.dropable_address_span {
    position: relative;
    
}

.dropable_address_span:hover {
    background-color: #3e8e41;
}

.dropable_address_span:hover .dropdown_address_content {
    display: block;
}

.dropdown_address_content {
    position: absolute;
    display: none;
    background-color: #f1f1f1;
    width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    top: 0;
    transform: translate(100%, 0)
}

#map {
    height: 40vh;
    width: 40vw;
    position: relative;
}

.user_article {
    display: flex;
    flex-direction: column;
    background-color: #aed143;
    border-radius: 5px;
    padding: 0.75rem 1rem;
  }
  
  .user_article > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .user_data_div {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .user_data_div + div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  
  
  .user_page_contents {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
  }
  
  .todo_li {
    width: 90%;
    text-align: left;
    border: 1px;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #fbd249;
    padding: 0.75rem 1rem;
  }
  
  .user_todos_list {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    background-color: #f39a4f;
    padding: 1rem 1rem 1rem 2rem;
    flex-grow: 1;
    flex-basis: 50%;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    margin: 0.5rem 0.25rem 0.5rem 0.5rem;
  }
  
  
  .user_albums_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #4ab6d9;
    padding: 1rem;
    flex-grow: 1;
    flex-basis: 50%;
    margin: 0.5rem 0.5rem 0.5rem 0.25rem;
  }

  .caret_down {
    display: none;
   }

   .album_item_div {
    padding: 0.25rem;
   }
  
  .album_item_content {
    border-radius: 4px;
    width: 90%;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eb6092;
  }

  
  @media screen and (max-width: 600px) {
    .user_page_contents {
      flex-direction: column-reverse;
    }
  
    .user_albums_div {
      margin: 0.5rem 0.5rem 0.5rem 0.5rem;
      position: relative;
      height: 3vh;
      flex-grow: initial;
      flex-basis: initial;
    }

    .albums_h3 {
        margin: 0 auto;
    }

    .caret_down {
        display: initial;
    }

    .album_items {
        display: none;
    }

    .user_albums_div:hover > .album_items {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        bottom: 0;
        transform: translate(0, 99%);
        background-color: #4ab6d9;
        justify-content: flex-start;
        height: 50vh;
    }


    .user_albums_div:hover > .album_items .album_item_div {
        width: 33.33%;
        height: 25%;
        display: flex;
        padding: 0.5rem;
        box-sizing: border-box;
    }

    .user_albums_div:hover .album_item_content {
        display: flex;
        overflow: hidden;
    }

    .user_albums_div:hover .album_item_content > div {
        width: 70%;
        height: 100%;
        overflow: hidden;
    }
  
    .user_todos_list {
      margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
  }

